body{
	background-color:gray;
}
form{
	background-color: gray;
	border:10px;color:blue;
}
button{background-color:blue;
border:none;
color:white;
padding:15px 32px;
text-align: center;
text-decoration: none;
display:inline-block;
font-size:16px;
}
.topnav{
	background-color:blue;
	overflow:hidden;
}
.topnav a{
	float:left;
	color:blue;
text-align:center;
padding:14px 16px;
text-decoration: none;
font-size: 17px
}
.topnav a.active{
	background-color: red;
	color:white;
}
.topnav a:hover{
	background-color: red;
	color:black;
}
.span1{
	padding:7px;
	border:1px inherit;

}
.tab{
	overflow:hidden;
	border:1px;
	background-color: blue;
}
.topnav{
	background-color:white;
	overflow:hidden;
}
.login{
	padding:7px;
	border:1px;
}
h2{
	color:orange;
}
.control{border:1px;
}
